<div class="container-fluid">

  <!-- <div class="row mt-2 mb-2">
      <div class="col-12">
        <div class="card">
          <div class="card-body row">
            <div class="col-sm-6" style="height:400px;padding:1%">
              <app-map [chartOptions]="chartOptions" [data]="mapData" [drillDownData]="mapData2"
                (drilldownClicked)="drilldownClicked($event)" (regionSelected)="regionSelected($event)"
                (regionDeSelected)="regionDeSelected($event)"></app-map>
            </div>
            <div class="col-sm-6" style="height:400px;padding:1%">
              <app-scroll-line-chart name="top5" [top5Data]="topFiveData"></app-scroll-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body" style="height:400px;padding:1%">
            <app-scroll-line-chart name="scroll"></app-scroll-line-chart>
          </div>
        </div>
      </div>
  
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6 mb-3">
            <div class="card">
              <div class="card-body" style="height:100px;padding:4%">
                <div class="card-title">
                  Total revenue
                </div>
                <div class="row" style="height: 80px;">
                  <div class="col-6" style="text-align: center;">
                    <span style="font-size: 16px;">1.2 M</span>
                  </div>
                  <div class="col-6" style="text-align: center;">
                    <ngx-trend autoDraw="true" stroke="#0A8FFD" strokeWidth="8" autoDrawDuration="1000"
                      autoDrawEasing="ease-in" [data]="[0, 10, 115, 2, 63.6, 11]"></ngx-trend>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
          <div class="col-sm-6 mb-3">
            <div class="card">
              <div class="card-body" style="height:100px;padding:4%">
                <div class="card-title">
                  Total revenue
                </div>
                <div class="row" style="height: 80px;">
                  <div class="col-6" style="text-align: center;">
                    <span style="font-size: 16px;">1.2 M</span>
                  </div>
                  <div class="col-6" style="text-align: center;">
                    <ngx-trend autoDraw="true" stroke="#EB8438" strokeWidth="8" autoDrawDuration="1000"
                      autoDrawEasing="ease-in" [data]="[0, 10, 0.5, 22, 36, 11]"></ngx-trend>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="height:100px;padding:4%">
                <div class="card-title">
                  Total revenue
                </div>
                <div class="row" style="height: 80px;">
                  <div class="col-6" style="text-align: center;">
                    <span style="font-size: 16px;">1.2 M</span>
                  </div>
                  <div class="col-6" style="text-align: center;">
                    <ngx-trend autoDraw="true" stroke="#C55FF4" strokeWidth="8" autoDrawDuration="1000"
                      autoDrawEasing="ease-in" [data]="[10, 210, 35, 22, 13.6, 11]"></ngx-trend>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body" style="height:100px;padding:4%">
                <div class="card-title">
                  Total revenue
                </div>
                <div class="row" style="height: 80px;">
                  <div class="col-6" style="text-align: center;">
                    <span style="font-size: 16px;">1.2 M</span>
                  </div>
                  <div class="col-6" style="text-align: center;">
                    <ngx-trend autoDraw="true" stroke="#E9AA12" strokeWidth="8" autoDrawDuration="1000"
                      autoDrawEasing="ease-in" [data]="[0, 10, 5, 22, 3.6, 11]"></ngx-trend>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <!-- <div class="row">
      <div class="col-sm-8">
        <div class="card mycard-table">
          <div class="card-body">
            <h6 class="card-title">Overall Performance Metrics</h6>
          </div>  
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td>
                    <select>
                      <option value="Day">Day</option>
                      <option value="Week">Week</option>
                      <option value="Month">Month</option>
                    </select>
                  </td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
  
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->
  <div class="row mt-3">
    <div class="col-12">
      <app-widget name="Widget1" [titleOpts]="widget1Opts.titleOpts" [compareToOpts]="widget1Opts.compareToOpts"
        [filterOpts]="widget1Opts.filterOpts" (onViewMoreClicked)="viewmoreClicked($event)">
        <app-simple-chart name="test111" [series]="seriesForSimpleLineChart"></app-simple-chart>
      </app-widget>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <app-widget name="Widget2" [titleOpts]="widget1Opts.titleOpts" [compareToOpts]="widget2Opts.compareToOpts"
        [filterOpts]="widget2Opts.filterOpts" (onViewMoreClicked)="viewmoreClicked($event)">
        <app-simple-chart name="test121" type="column" [series]="seriesForSimpleLineChart"></app-simple-chart>
      </app-widget>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <app-widget name="Widget3" [titleOpts]="widget1Opts.titleOpts" (onViewMoreClicked)="viewmoreClicked($event)">
        <div class="row">
          <div class="col-sm-6" style="height:400px;padding:1%">
            <app-map [chartOptions]="chartOptions" [data]="mapData" [drillDownData]="mapData2"
              (drilldownClicked)="drilldownClicked($event)" (regionSelected)="regionSelected($event)"
              (regionDeSelected)="regionDeSelected($event)"></app-map>
          </div>
          <div class="col-sm-6" style="height:400px;padding:1%">
            <app-scroll-line-chart name="top5" [top5Data]="topFiveData"></app-scroll-line-chart>
          </div>
        </div>
      </app-widget>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <app-widget name="Widget4" [titleOpts]="widget1Opts.titleOpts" (onViewMoreClicked)="viewmoreClicked($event)">
        <app-scroll-line-chart name="test4"></app-scroll-line-chart>
      </app-widget>
    </div>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col-6">
      <app-widget name="Widget5" [titleOpts]="widget1Opts.titleOpts" (onViewMoreClicked)="viewmoreClicked($event)">
        <app-scroll-line-chart name="test5"></app-scroll-line-chart>
      </app-widget>
    </div>

    <div class="col-6">
      <app-widget name="Widget6" [titleOpts]="widget1Opts.titleOpts" (onViewMoreClicked)="viewmoreClicked($event)">
        <app-scroll-line-chart name="test6"></app-scroll-line-chart>
      </app-widget>
    </div>
  </div>
</div>